# macOS system
.DS_Store

# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter
.ipynb_checkpoints/

# Data (don't track data!)
data/raw/
*.csv
*.xlsx
*.parquet
*.pkl
*.npz

# Logs / cache / outputs
logs/
*.log
*.out

# Backup files
*.bak
*.tmp

# VSCode
.vscode/